<div>
  <div class="flex align-items-center justify-content-between">
    <div>
      <img [src]="coin.image" alt="" width="24px" />

      {{ coin.name }}
    </div>
    <div>
      <app-update-price [coin]="coin"></app-update-price>
      <app-best-price-modal [id]="coin.id"></app-best-price-modal>
    </div>
  </div>
  <hr />
  <div class="flex align-items-center justify-content-between mb-5">
    <div class="flex align-items-center justify-content-between">
      <label for="">خرید</label>
      <label for="">{{ coin.buyPrice }} </label>
    </div>
    <div class="flex align-items-center justify-content-between">
      <label for="">فروش</label>
      <label for="">{{ coin.sellPrice }} </label>
    </div>
  </div>
  <div class="flex align-items-center justify-content-between mb-5">
    <p-floatLabel>
      <input
        id="Amount"
        type="text"
        pInputText
        [(ngModel)]="amount"
        (ngModelChange)="onAmountChange()"
      />
      <label for="Amount">مقدار</label>
    </p-floatLabel>
    <div class="centerinput" dir="ltr">
      <p-selectButton
        [options]="stateOptions"
        [(ngModel)]="exchangeStatus"
        (ngModelChange)="onExchangeStatusChange()"
        optionLabel="label"
        optionValue="value"
      />
    </div>
  </div>
</div>
