<div class="p-8">
  <p-table [value]="coinsRate" [tableStyle]="{ 'min-width': '50rem' }">
    <ng-template pTemplate="header">
      <tr>
        <th>Name</th>
        <th>Image</th>
        <th>Buy Price</th>
        <th>Sell Price</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-coinRate>
      <tr>
        <td>
          <img
            [src]="coinRate.fromCoin.image"
            [alt]="coinRate.name"
            width="50"
            class="shadow-4"
          />{{ coinRate.fromCoin.name }}
        </td>

        <td>
          <img
            [src]="coinRate.toCoin.image"
            [alt]="coinRate.name"
            width="50"
            class="shadow-4"
          />{{ coinRate.toCoin.name }}
        </td>

        <td [pEditableColumn]="coinRate.rate" pEditableColumnField="rate">
          <p-cellEditor>
            <ng-template pTemplate="input">
              <input
                pInputText
                [(ngModel)]="rateInput"
                (focus)="onfocus(coinRate)"
                (keydown.enter)="onRateEdit(coinRate)"
              />
            </ng-template>
            <ng-template pTemplate="output">
              {{ coinRate.rate }}
            </ng-template>
          </p-cellEditor>
        </td>
        <td>
            <p-inputSwitch
              [(ngModel)]="coinRate.israte"
              (onChange)="onisRateEdit(coinRate)"
            />
        </td>
      </tr>
    </ng-template>
  </p-table>
  <p-button (click)="toggleDialog()" label="Add Coin" />
</div>
