<div class="p-8">
  <p-table
    [value]="coinsRate"
    [tableStyle]="{ 'min-width': '50rem' }"
    [rowTrackBy]="trackById"
  >
    <ng-template pTemplate="header">
      <tr>
        <th style="width: 25%">ارز اول</th>
        <th style="width: 25%">ارز دوم</th>
        <th style="width: 25%">نرخ تبدیل</th>
        <th style="width: 10%">نحوه ی تبدیل ؟</th>
        <th style="width: 15%">ویرایش</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-coinRate>
      <tr>
        <td>
          <span class="inline-flex align-items-center gap-2">
            <img
              [src]="coinRate.fromCoin.image"
              [alt]="coinRate.fromCoin.name"
              width="24"
              class=""
            />
            {{ coinRate.fromCoin.name }}
          </span>
        </td>
        <td>
          <span class="inline-flex align-items-center gap-2">
            <img
              [src]="coinRate.toCoin.image"
              [alt]="coinRate.toCoin.name"
              width="24"
              class=""
            />
            {{ coinRate.toCoin.name }}
          </span>
        </td>
        <!-- <td [pEditableColumn]="coinRate.rate" pEditableColumnField="rate">
          <p-cellEditor>
            <ng-template pTemplate="input">
              <input
                #rateInputRef
                width="100%"
                pInputText
                [(ngModel)]="rateInput"
                (focus)="onfocus($event, coinRate)"
                (keydown.enter)="onRateEdit(coinRate)"
                (keydown.tab)="onRateEdit(coinRate)"
              />
            </ng-template>
            <ng-template pTemplate="output">
              {{ coinRate.rate }}
            </ng-template>
          </p-cellEditor>
        </td> -->
        <td>
          <span class="inline-flex align-items-center gap-2">
            {{ coinRate.rate }}
          </span>
        </td>
        @if (coinRate.isRate === 0) {
        <td>ضریب تبدیل</td>
        }@else {
        <td>درصد تبدیل</td>
        }
        <td>
          <app-update-rate [coinRate]="coinRate"></app-update-rate>
        </td>
      </tr>
    </ng-template>
  </p-table>
  <br />
</div>
