<div class="p-8">
  <p-table [value]="coinsRate" [tableStyle]="{ 'min-width': '50rem' }">
    <ng-template pTemplate="header">
      <tr>
        <th style="width:25%">ارز اول</th>
        <th style="width:25%">ارز دوم</th>
        <th style="width:25%">نرخ تبدیل</th>
        <th style="width:25%">نرخ تبدیل ریت است؟</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-coinRate>
      <tr>
        <td>
          <span class="inline-flex align-items-center gap-2">
            <img
              [src]="coinRate.fromCoin.image"
              [alt]="coinRate.name"
              width="24"
              class=""
            />
            {{ coinRate.fromCoin.name }}
          </span>
        </td>

        <td>
          <span class="inline-flex align-items-center gap-2">
            <img
              [src]="coinRate.toCoin.image"
              [alt]="coinRate.name"
              width="24"
              class=""
            />
            {{ coinRate.toCoin.name }}
          </span>
        </td>

        <td [pEditableColumn]="coinRate.rate" pEditableColumnField="rate">
          <p-cellEditor>
            <ng-template pTemplate="input">
              <input
                width="100%"
                pInputText
                [(ngModel)]="rateInput"
                (focus)="onfocus(coinRate)"
                (select)="true"
                (keydown.enter)="onRateEdit(coinRate)"
                (keydown.tab)="onRateEdit(coinRate)"
              />
            </ng-template>
            <ng-template pTemplate="output">
              {{ coinRate.rate }}
            </ng-template>
          </p-cellEditor>
        </td>
        <td>
          <p-inputSwitch
            [(ngModel)]="coinRate.israte"
            (onChange)="onisRateEdit(coinRate)"
          />
        </td>
      </tr>
    </ng-template>
  </p-table>
  <br />
  <!-- <p-button (click)="toggleDialog()" label="بروز رسانی جدول" /> -->
</div>
