<div class="p-8">
  <div class="grid">
    @for (item of coinsCards; track $index) {
    <div class="col-12 md:col-6 lg:col-4 xl:col-3">
      <p-card [header]="coinsCards[$index].name" class="djcc">
        <ng-template pTemplate="header" class="djcc">
          <img alt="Card" [src]="coinsCards[$index].image" class="imgwidth" />
        </ng-template>
        <ng-template pTemplate="footer">
          <div class="">
            <div class="center-span mb-2">
              <p-floatLabel>
                <input
                  id="Amount"
                  type="text"
                  pInputText
                  [(ngModel)]="coinsCards[$index].amount"
                />
                <label for="Amount">مقدار</label>
              </p-floatLabel>
            </div>
            <div class="centerinput mb-5" dir="ltr" >
              <p-selectButton
                [options]="stateOptions"
                [(ngModel)]="coinsCards[$index].exchangeStatus"
                optionLabel="label"
                optionValue="value"
              />
            </div>
            <div class="center-span mb-5">
              <p-floatLabel>
                <input
                  id="Buy"
                  type="text"
                  pInputText
                  [(ngModel)]="coinsCards[$index].buyprice"
                  (input)="buyInputChenge($event, coinsCards[$index])"
                />
                <label for="Buy">قیمت خرید</label>
              </p-floatLabel>
            </div>
            <p-floatLabel>
              <input
                id="Sell"
                type="text"
                pInputText
                [(ngModel)]="coinsCards[$index].sellprice"
                (change)="sellInputChenge($event, coinsCards[$index])"
              />
              <label for="Sell">قیمت فروش</label>
            </p-floatLabel>
          </div>
          <!-- <div class="flex gap-3 mt-1">
            <p-button
              label="Cancel"
              severity="secondary"
              class="w-full"
              styleClass="w-full"
            />
            <p-button label="Save" class="w-full" styleClass="w-full" />
          </div> -->
        </ng-template>
      </p-card>
    </div>
    }
  </div>
  <br />

  <p-table
    [value]="coinsCards"
    [tableStyle]="{ 'min-width': '50rem' }"
    dataKey="id"
    [expandedRowKeys]="expandedRows"
  >
    <ng-template pTemplate="header">
      <!-- مواردی که در صفحه اصلی هستند و باز میشوند -->
      <tr>
        <th></th>
        <th>نام ارز</th>
        <th>قیمت خرید</th>
        <th>قیمت فروش</th>
        <th></th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-coin let-expanded="expanded">
      <tr>
        <td>
          <p-button
            type="button"
            pRipple
            [pRowToggler]="coin"
            [text]="true"
            [rounded]="true"
            [plain]="true"
            [icon]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-left'"
          />
        </td>

        <td>
          <span class="center gap-2">
            {{ coin.name }}
            <img [src]="coin.image" [alt]="coin.name" width="24" class=""
          /></span>
        </td>

        <td>{{ calculator.multiple(coin.buyprice,coin.amount) }}</td>
        <td>{{ calculator.multiple(coin.sellprice,coin.amount)}}</td>
      </tr>
    </ng-template>

    <!-- مواردی که بعد از کلیک کردن نمایش داده میشوند-->

    <ng-template pTemplate="rowexpansion" let-coin>
      <tr>
        <td colspan="7">
          <div class="p-3">
            <p-table [value]="coinsRate" dataKey="id">
              <ng-template pTemplate="header">
                @if(coin.exchangeStatus === 0){
                <tr>
                  <th>Coin</th>
                  <th>Rate</th>
                  <th>قیمت تمام شده</th>
                  <th>اختلاف قیمت تمام شده</th>
                  <th></th>
                  <th style="width: 4rem"></th>
                </tr>
                }@else {
                <tr>  
                  <th>Coin</th>
                  <th>Rate</th>
                  <th>قیمت خرید بر اساس ارز</th>
                  <th> قیمت تمام شده بر اساس ریت  </th>
                  <th></th>
                  <th style="width: 4rem"></th>
                </tr>
                }
              </ng-template>
              <ng-template pTemplate="body" let-coinRate>
                @if (coin.exchangeStatus === 0) {
                  @if (coin.id == coinRate.fromCoin.id) {
                    <tr>
                      <td>
                        <span class="inline-flex align-items-center gap-2">
                          <img
                            [src]="coinRate.toCoin.image"
                            [alt]="coinRate.name"
                            width="24"
                            class=""
                          />
                          {{ coinRate.toCoin.name }}
                        </span>
                      </td>
                      <td>
                        <span class="flex align-items-center gap-2">
                          <p-chip
                            [label]="
                              (coin.amount | currency : 'IRR' : ' ' : '0.0-4') +
                              ' ' +
                              coinRate.fromCoin.name
                            "
                            [image]="coinRate.fromCoin.image"
                            [alt]="coinRate.fromCoin.name"
                          />
                          میدهیم
                          <p-chip
                            [label]="
                              calculator.calculateCoinToCoin(
                                coinRate.israte,
                                coin.amount,
                                coinRate.rate
                              ) +
                              ' ' +
                              coinRate.toCoin.name
                            "
                            [image]="coinRate.toCoin.image"
                            [alt]="coinRate.toCoin.name"
                          />
                          میگیریم
                        </span>
                      </td>
                      <td>
                        <span class="center gap-2">
                          <span class="center gap-2">
                            <span class="center1 gap-2">
                              <img
                                [src]="coinRate.toCoin.image"
                                [alt]="coinRate.name"
                                width="24"
                                class=""
                            /></span>
                            <span class="gap-2">{{ "قیمت تمام شده " }}</span>
                            <span>
                              {{
                                " : " +
                                  calculator.calculateCoinprice(
                                    coinRate.israte,
                                    coin.buyprice,
    
                                    coinRate.rate
                                  )
                              }}
                            </span>
                          </span></span
                        >
                      </td>
                      <td>
                        <span>{{
                          calculator.calculatepricedifference(
                            coinRate.israte,
                            coin.buyprice,
                            coinRate.rate,
                            coin.sellprice,
                            coin.amount
                          )
                        }}</span>
                        <span class="inline-flex align-items-center gap-2">
                          <img
                            [src]="coinRate.toCoin.image"
                            [alt]="coinRate.toCoin.name"
                            width="24"
                            class=""
                          />{{ coinRate.toCoin.name }}
                        </span>
                      </td>
                      <td></td>
                    </tr>
                    }
                }@else {
                @if (coin.id == coinRate.toCoin.id) {
                <tr>
                  <td>
                    <span class="inline-flex align-items-center gap-2">
                      <img
                        [src]="coinRate.fromCoin.image"
                        [alt]="coinRate.name"
                        width="24"
                        class=""
                      />
                      {{ coinRate.fromCoin.name }}
                    </span>
                  </td>
                  <td>
                    <span class="flex align-items-center gap-2">
                      <p-chip
                      [label]="
                        calculator.calculateGivetoGet(
                          coinRate.israte,
                          coin.amount,
                          coinRate.rate
                        ) +
                        ' ' +
                        coinRate.fromCoin.name
                      "
                      [image]="coinRate.fromCoin.image"
                      [alt]="coinRate.fromCoin.name"
                    />
                      میدهیم
                     
                      <p-chip
                      [label]="
                        (coin.amount | currency : 'IRR' : ' ' : '0.0-4') +
                        ' ' +
                        coinRate.toCoin.name
                      "
                      [image]="coinRate.toCoin.image"
                      [alt]="coinRate.toCoin.name"
                    />
                      میگیریم
                    </span>
                  </td>
                  <td>
                    <span class="center gap-2">
                      <span class="center gap-2">
                        <span class="center1 gap-2">
                          <img
                            [src]="coinRate.toCoin.image"
                            [alt]="coinRate.name"
                            width="24"
                            class=""
                        /></span>
                        <span class="gap-2">{{ "قیمت تمام شده " }}</span>
                        <span>
                          {{
                            " : " +
                              calculator.calculateCoinprice2(
                                coinRate.israte,
                                coinRate.fromCoin.buyprice,
                                coinRate.rate
                              )
                          }}
                        </span>
                      </span></span
                    >
                  </td>
                  <td>
                    <span>{{
                      calculator.calculatesellbuyprice(
                        coinRate.israte,
                        coin.amount,
                        coinRate.rate,
                        coinRate.fromCoin.buyprice
                      )
                    }}</span>
                    <span class="inline-flex align-items-center gap-2">
                      <img
                        [src]="coinRate.toCoin.image"
                        [alt]="coinRate.toCoin.name"
                        width="24"
                        class=""
                      />{{ coinRate.toCoin.name }}
                    </span>
                    </td>
                    <td>
                      
                      <span>{{
                        calculator.calculateprofitofselleng(
                          coinRate.israte,
                          coin.amount,
                          coinRate.rate,
                          coinRate.fromCoin.buyprice,
                          coinRate.toCoin.sellprice
                        )
                      }}</span>
                      <span class="inline-flex align-items-center gap-2">
                        <img
                          [src]="coinRate.toCoin.image"
                          [alt]="coinRate.toCoin.name"
                          width="24"
                          class=""
                        />{{ coinRate.toCoin.name }}
                      </span>
                  </td>
                </tr>
                }}
              </ng-template>
            </p-table>
          </div>
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>
