<div>
  <div class="grid px-1 mt-2">
    @for (item of coins; track $index) {
    <div class="col-12 md:col-6 lg:col-4 xl:col-3">
      <app-coin-change-card
        [coin]="coinsCards[$index]"
        (onAmount)="changeAmount($event)"
        (onExchangeStatus)="changeExchangeStatus($event)"
      ></app-coin-change-card>
    </div>
    }
  </div>

  <br />
  <div class="grid px-1 mt-2">
    @for (coin of coinsCards; track $index) {
    <div class="col-12 md:col-12 xl:col-6">
      <p-card>
        <ng-template pTemplate="header">
          <div
            class="flex align-items-center justify-content-between w-full bg-primary-50 p-3"
          >
            <div class="flex align-items-center gap-2">
              <img [src]="coin.image" alt="" width="24px" height="24px" />
              {{ coin.name }}
            </div>
            <div class="flex gap-2">
              <span
                class="inline-flex bg-green-100 border-round-sm py-1 px-2 gap-2"
              >
                <span>قیمت خرید </span>
                <span
                  >{{
                    coin.buyPrice | currency : "IRR" : " " : "0.0-3"
                  }}
                  تومان</span
                >
              </span>
              <span
                class="inline-flex bg-red-100 border-round-sm py-1 px-2 gap-2"
              >
                <span>قیمت فروش </span>
                <span
                  >{{
                    coin.sellPrice | currency : "IRR" : " " : "0.0-3"
                  }}
                  تومان</span
                >
              </span>
            </div>
          </div>
        </ng-template>
        <ng-template pTemplate="body">
          <div class="flex align-items-center justify-content-between">
            <div
              class="flex flex-column align-items-center justify-content-between w-full"
            >
              @for (coinRate of coinsRate; track $index) {
              @if(coinRate.fromCoin.id === coin.id && coin.exchangeStatus== 0){
              <div
                class="w-full flex align-items-center justify-content-between coustombackground"
              >
                <span class="inline-flex align-items-center gap-2">
                  <img
                    [src]="coinRate.toCoin.image"
                    [alt]="coinRate.toCoin.name"
                    width="24"
                    class=""
                  />
                  {{ coinRate.toCoin.name }}
                </span>

                <span class="flex align-items-center gap-2">
                  <p-chip
                    class="inline-flex"
                    [label]="
                      (coin.amount | currency : 'IRR' : ' ' : '0.0-4') +
                      ' ' +
                      coinRate.fromCoin.name
                    "
                    [image]="coinRate.fromCoin.image"
                    [alt]="coinRate.fromCoin.name"
                  />
                  میدهیم
                  <p-chip
                    class="inline-flex"
                    [label]="
                      calculator.calculateCoinToCoin(
                        coinRate.isRate,
                        coin.amount,
                        coinRate.rate
                      ) +
                      ' ' +
                      coinRate.toCoin.name
                    "
                    [image]="coinRate.toCoin.image"
                    [alt]="coinRate.toCoin.name"
                  />
                  میگیریم
                </span>
                <span class="center gap-2">
                  <span class="center gap-2">
                    <span class="gap-2">{{ "قیمت تمام شده " }}</span>
                    <span class="center1 gap-2">
                      <img
                        [src]="coinRate.toCoin.image"
                        [alt]="coinRate.toCoin.name"
                        width="24"
                        class=""
                    /></span>
                    <span>
                      {{
                        " : " +
                          calculator.calculateCoinprice(
                            coinRate.isRate,
                            coin.buyPrice,

                            coinRate.rate
                          )
                      }}
                    </span>
                  </span>
                  <span>تومان</span>
                </span>
              </div>
              }@else if (coinRate.toCoin.id === coin.id && coin.exchangeStatus==
              1) {

              <div
                class="w-full flex align-items-center justify-content-between coustombackground"
              >
                <span class="inline-flex align-items-center gap-2">
                  <img
                    [src]="coinRate.fromCoin.image"
                    [alt]="coinRate.fromCoin.name"
                    width="24"
                    class=""
                  />
                  {{ coinRate.fromCoin.name }}
                </span>

                <span class="flex align-items-center gap-2">
                  <p-chip
                  class="inline-flex"
                    [label]="
                      calculator.calculateGivetoGet(
                        coinRate.isRate,
                        coin.amount,
                        coinRate.rate
                      ) +
                      ' ' +
                      coinRate.fromCoin.name
                    "
                    [image]="coinRate.fromCoin.image"
                    [alt]="coinRate.fromCoin.name"
                  />
                  میدهیم

                  <p-chip
                  class="inline-flex"
                    [label]="
                      (coin.amount | currency : 'IRR' : ' ' : '0.0-4') +
                      ' ' +
                      coinRate.toCoin.name
                    "
                    [image]="coinRate.toCoin.image"
                    [alt]="coinRate.toCoin.name"
                  />
                  میگیریم
                </span>
                <span class="center gap-2">
                  <span class="center gap-2">
                    <span class="gap-2">{{ "قیمت تمام شده " }}</span>
                    <span class="center1 gap-2">
                      <img
                        [src]="coinRate.toCoin.image"
                        [alt]="coinRate.toCoin.name"
                        width="24"
                        class=""
                    /></span>
                    <span>
                      {{
                        " : " +
                          calculator.calculateCoinprice2(
                            coinRate.isRate,
                            coinRate.fromCoin.buyPrice,
                            coinRate.rate
                          )
                      }}
                    </span>
                  </span>
                  <span>تومان</span>
                </span>
              </div>
              } }
            </div>
          </div>
        </ng-template>
        <ng-template pTemplate="footer">
          <div
            class="flex align-items-center justify-content-between mt-4"
          ></div>
        </ng-template>
      </p-card>
    </div>

    }
  </div>
</div>
