<div >
  <div class="grid px-1 mt-2">
    @for (item of coins; track $index) {
    <div class="col-12 md:col-6 lg:col-4 xl:col-3">
      <app-coin-change-card
        [coin]="coinsCards[$index]"
        (onAmount)="changeAmount($event)"
        (onExchangeStatus)="changeExchangeStatus($event)"
      ></app-coin-change-card>
    </div>
    }
  </div>

  <br />

  <p-table
    [value]="coinsCards"
    [tableStyle]="{ 'min-width': '50rem' }"
    dataKey="id"
    [expandedRowKeys]="expandedRows"
  >
    <ng-template pTemplate="header">
      <!-- مواردی که در صفحه اصلی هستند و باز میشوند -->
      <tr>
        <th style="width: 20%"></th>
        <th style="width: 20%">نام ارز</th>
        <th style="width: 20%">قیمت خرید</th>
        <th style="width: 20%">قیمت فروش</th>
        <th style="width: 20%"></th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-coin let-expanded="expanded">
      <tr>
        <td>
          <p-button
            type="button"
            pRipple
            [pRowToggler]="coin"
            [text]="true"
            [rounded]="true"
            [plain]="true"
            [icon]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-left'"
          />
        </td>
        <td>
          <span class="center gap-2">
            {{ coin.name }}
            <img [src]="coin.image" [alt]="coin.name" width="24" class=""
          /></span>
        </td>
        <td>{{ calculator.multiple(coin.buyPrice, coin.amount) }} تومان</td>
        <td>{{ calculator.multiple(coin.sellPrice, coin.amount) }} تومان</td>
        <td></td>
      </tr>
    </ng-template>

    <!-- مواردی که بعد از کلیک کردن نمایش داده میشوند-->

    <ng-template pTemplate="rowexpansion" let-coin>
      <tr>
        <td colspan="7">
          <div class="p-3">
            <p-table [value]="coinsRate" dataKey="id">
              <ng-template pTemplate="header">
                @if(coin.exchangeStatus === 0){
                <tr>
                  <th style="width: 10%">ارز</th>
                  <th style="width: 40%">تبدیل</th>
                  <th style="width: 25%">قیمت تمام شده هر ارز</th>
                  <th style="width: 25%"></th>
                  <th style="width: 4rem"></th>
                </tr>
                }@else {
                <tr>
                  <th style="width: 10%">ارز</th>
                  <th style="width: 40%">تبدیل</th>
                  <th style="width: 25%">قیمت تمام شده هر {{ coin.name }}</th>
                  <th style="width: 25%">
                    قیمت تمام شده
                    <span class="center gap-2"
                      >{{ coin.amount }} {{ coin.name }}
                      <img
                        class="center1"
                        [src]="coin.image"
                        [alt]="coin.name"
                        width="24"
                        class=""
                      />
                    </span>
                  </th>
                  <th style="width: 25%"></th>
                  <th style="width: 4rem"></th>
                </tr>
                }
              </ng-template>
              <ng-template pTemplate="body" let-coinRate>
                @if (coin.exchangeStatus === 0) { @if (coin.id ==
                coinRate.fromCoin.id) {
                <tr>
                  <td>
                    <span class="inline-flex align-items-center gap-2">
                      <img
                        [src]="coinRate.toCoin.image"
                        [alt]="coinRate.name"
                        width="24"
                        class=""
                      />
                      {{ coinRate.toCoin.name }}
                    </span>
                  </td>
                  <td>
                    <span class="flex align-items-center gap-2">
                      <p-chip
                        [label]="
                          (coin.amount | currency : 'IRR' : ' ' : '0.0-4') +
                          ' ' +
                          coinRate.fromCoin.name
                        "
                        [image]="coinRate.fromCoin.image"
                        [alt]="coinRate.fromCoin.name"
                      />
                      میدهیم
                      <p-chip
                        [label]="
                          calculator.calculateCoinToCoin(
                            coinRate.isRate,
                            coin.amount,
                            coinRate.rate
                          ) +
                          ' ' +
                          coinRate.toCoin.name
                        "
                        [image]="coinRate.toCoin.image"
                        [alt]="coinRate.toCoin.name"
                      />
                      میگیریم
                    </span>
                  </td>
                  <td>
                    <span class="center gap-2">
                      <span class="center gap-2">
                        <span class="gap-2">{{ "قیمت تمام شده " }}</span>
                        <span class="center1 gap-2">
                          <img
                            [src]="coinRate.toCoin.image"
                            [alt]="coinRate.name"
                            width="24"
                            class=""
                        /></span>
                        <span>
                          {{
                            " : " +
                              calculator.calculateCoinprice(
                                coinRate.isRate,
                                coin.buyPrice,

                                coinRate.rate
                              )
                          }}
                        </span>
                      </span>
                      <span>تومان</span>
                    </span>
                  </td>
                  <td>
                    <!-- <span>{{
                          calculator.calculatepricedifference(
                            coinRate.isRate,
                            coin.buyprice,
                            coinRate.rate,
                            coin.sellprice,
                            coin.amount
                          )
                        }}</span>
                        <span class="inline-flex align-items-center gap-2">
                          <img
                            [src]="coinRate.toCoin.image"
                            [alt]="coinRate.toCoin.name"
                            width="24"
                            class=""
                          />{{ coinRate.toCoin.name }}
                        </span> -->
                  </td>
                  <td></td>
                </tr>
                } }@else { @if (coin.id == coinRate.toCoin.id) {
                <tr>
                  <td>
                    <span class="inline-flex align-items-center gap-2">
                      <img
                        [src]="coinRate.fromCoin.image"
                        [alt]="coinRate.name"
                        width="24"
                        class=""
                      />
                      {{ coinRate.fromCoin.name }}
                    </span>
                  </td>
                  <td>
                    <span class="flex align-items-center gap-2">
                      <p-chip
                        [label]="
                          calculator.calculateGivetoGet(
                            coinRate.isRate,
                            coin.amount,
                            coinRate.rate
                          ) +
                          ' ' +
                          coinRate.fromCoin.name
                        "
                        [image]="coinRate.fromCoin.image"
                        [alt]="coinRate.fromCoin.name"
                      />
                      میدهیم

                      <p-chip
                        [label]="
                          (coin.amount | currency : 'IRR' : ' ' : '0.0-4') +
                          ' ' +
                          coinRate.toCoin.name
                        "
                        [image]="coinRate.toCoin.image"
                        [alt]="coinRate.toCoin.name"
                      />
                      میگیریم
                    </span>
                  </td>
                  <td>
                    <span class="center gap-2">
                      <span class="center gap-2">
                        <span class="gap-2">{{ "قیمت تمام شده " }}</span>
                        <span class="center1 gap-2">
                          <img
                            [src]="coinRate.toCoin.image"
                            [alt]="coinRate.name"
                            width="24"
                            class=""
                        /></span>
                        <span>
                          {{
                            " : " +
                              calculator.calculateCoinprice2(
                                coinRate.isRate,
                                coinRate.fromCoin.buyPrice,
                                coinRate.rate
                              )
                          }}
                        </span>
                      </span>
                      <span>تومان</span>
                    </span>
                  </td>
                  <td>
                    <span>{{
                      calculator.calculatesellbuyprice(
                        coinRate.isRate,
                        coin.amount,
                        coinRate.rate,
                        coinRate.fromCoin.buyPrice
                      )
                    }}</span>
                    <span class="inline-flex align-items-center gap-2">
                      تومان
                    </span>
                  </td>
                  <td>
                    <!-- <span>{{
                        calculator.calculateprofitofselleng(
                          coinRate.isRate,
                          coin.amount,
                          coinRate.rate,
                          coinRate.fromCoin.buyprice,
                          coinRate.toCoin.sellprice
                        )
                      }}</span>
                      <span class="inline-flex align-items-center gap-2">
                        <img
                          [src]="coinRate.toCoin.image"
                          [alt]="coinRate.toCoin.name"
                          width="24"
                          class=""
                        />{{ coinRate.toCoin.name }}
                      </span> -->
                  </td>
                </tr>
                }}
              </ng-template>
            </p-table>
          </div>
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>
