<p-button
  (click)="showDialog('top')"
  label="بهترین حالت خرید"
  severity="secondary"
/>
<p-dialog
  header="بهترین حالت خرید ارز"
  [modal]="true"
  [(visible)]="visible"
  position="center"
  [style]="{ width: '25rem' }"
>
  <div class="flex align-items-center gap-3 mb-3">
    <span class="p-text-secondary block mb-5"> طولانیه </span>
  </div>
  <div class="flex align-items-center gap-3 mb-3">
    <span class="p-text-secondary block mb-5"> تو خودت باش </span>
  </div>
  <div class="flex align-items-center gap-3 mb-5">
    <span class="p-text-secondary block mb-5"> دایی </span>
  </div>
  <div class="flex justify-content-end gap-2">
    <p-button label="تایید" (click)="visible = false" />
  </div>
</p-dialog>
